<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <div class="image-aboutus-banner" style="margin-top: 70px">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="lg-text">About Us</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="bread-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-8">
          <ol class="breadcrumb">
            <li><a href="">Home</a></li>
            <li class="active">About Us</li>
          </ol>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-4"></div>
      </div>
    </div>
  </div>
  <div class="aboutus-secktion paddingTB60">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="strong">Who we are and<br />what we do</h1>
          <p class="lead">This is the world's leading<br />Job Portal</p>
        </div>
        <div class="col-md-6">
          <p>
            Careerskart is an initiative created for the job seekers to pursue
            their dream career. Every job seeker at Careerskart is paired with a
            career coach who will accompany them throughout their career,
            beginning with career counselling, writing a CV tailored to their
            desired position, and advising them on soft skills and interview
            etiquette. Careerskart is the most modern online job board in India.
            It connects job searchers and recruiters by precisely matching
            candidate profiles to the relevant job openings using a cutting-edge
            matching engine.
          </p>
          <p>
            At Careerskart, every job seeker is assigned a career coach who will
            work with them throughout their career, starting with career
            counselling, creating a CV specifically for their target position,
            and providing guidance on soft skills and interview etiquette. The
            most cutting-edge online employment board in India is Careerskart.
            By properly matching candidate profiles to the appropriate job
            opportunities using a cutting-edge matching engine, it connects
            recruiters and job seekers. Careerskart places more of an emphasis
            on candidates' overall career growth than the bulk of employment
            portals, which merely work to place people in their next position.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container team-sektion paddingTB60">
    <div class="row">
      <div class="site-heading text-center">
        <h3>Our Team</h3>
        <div class="border"></div>
      </div>
    </div>
    <div class="row teamName">
      <div class="col-md-4 team-box">
        <div class="team-img thumbnail">
          <div class="team-content">
            <h3>Manigandan A</h3>
            <div class="border-team"></div>
            <p>Founder & CEO of Careerskart</p>
            <div class="social-icons">
              <!-- <a href="https://www.facebook.com/"
                ><i
                  id="social-fb"
                  class="fa fa-facebook-square fa-3x social"
                ></i
              ></a>
              <a href="https://twitter.com/"
                ><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i
              ></a>
              <a href="https://plus.google.com/"
                ><i
                  id="social-gp"
                  class="fa fa-google-plus-square fa-3x social"
                ></i
              ></a> -->
              <a href="amanigandan@careerskart.in"
                ><i
                  id="social-em"
                  class="fa fa-envelope-square fa-3x social"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 team-box">
        <div class="team-img thumbnail">
          <div class="team-content">
            <h3>Vinoth S</h3>
            <div class="border-team"></div>
            <p>COO of Careerskart</p>
            <div class="social-icons">
              <!-- <a href="https://www.facebook.com/"
                ><i
                  id="social-fb"
                  class="fa fa-facebook-square fa-3x social"
                ></i
              ></a>
              <a href="https://twitter.com/"
                ><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i
              ></a>
              <a href="https://plus.google.com/"
                ><i
                  id="social-gp"
                  class="fa fa-google-plus-square fa-3x social"
                ></i
              ></a> -->
              <a href="vinoths@careerskart.in"
                ><i
                  id="social-em"
                  class="fa fa-envelope-square fa-3x social"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-heading text-center">
    <h4>Our Vision</h4>
    <p>
      Our vision is to provide a successful platform which offers the candidates
      a proper guidance to pursue their dream career.
    </p>
    <div class="border"></div>
    <h4>Our Mission</h4>
    <p>
      Our mission is to revolutionalize the recruitment process by placing the
      right candidate on the right position which will help both the candidate
      and the company to perform in an optimum efficiency.
    </p>
    <div class="border"></div>
  </div>
  <div class="cta-sektion cta-padding35">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <h3><b>Searching For Job?</b> Explore Your Dream Career.</h3>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 Tpadding10">
          <button type="button" class="btn btn-primary site-btn" routerLink="/">
            Start Right Now
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section">
    <div class="footer">
      <div class="container">
        <div class="col-md-4 footer-one">
          <h5>About Us</h5>
          <p>
            Careerskart is an initiative created for the job <br>seekers to pursue
            their dream career. Every job<br> seeker at Careerskart is paired with a
            career<br> coach who will accompany them throughout their career,
            beginning with career counselling
          </p>
          <div class="social-icons">
            <!-- <a href="https://www.facebook.com/"
              ><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i
            ></a> -->
            <a href="https://www.linkedin.com/company/datanigma/?originalSubdomain=in"
              ><i id="social-li" class="fa fa-twitter-square fa-3x social"></i
            ></a>
            <!-- <a href="https://plus.google.com/"
              ><i
                id="social-gp"
                class="fa fa-google-plus-square fa-3x social"
              ></i
            ></a> -->
            <a href="info@careerskart.in"
              ><i id="social-em" class="fa fa-envelope-square fa-3x social"></i
            ></a>
          </div>
        </div>
        <div class="col-md-3 footer-three footinfo">
          <h5>Information</h5>
          <ul>
            <li><a href="https://goo.gl/maps/kvJgY66RJZsXQF589">Locations</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="about.html">Partners</a></li>
          </ul>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="copyright-text">
              <p>CopyRight © 2022 Rights Reserved: Careerskart</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />