.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.postform {
  margin-left: 33%;
  margin-top: 125px;
}
button {
  margin-left: 40%;
  background-color: rgba(12, 142, 179, 0.863);
  color: white;
}
mat-radio-button{
  margin-left: 20px;
}
.thick{
  font-weight: 400;
  font-size:medium;
}
.formcontent{
  margin-top: 40px;
}
.btncontent{
  margin-top: 20px;
}