<section style="background-color: #eee;" *ngIf="loggedIn">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <!-- <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
              <button class= "updatebutton" mat-flat-button color="primary">Update</button>
            </ol>
            
          </nav> -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://openclipart.org/image/2400px/svg_to_png/247319/abstract-user-flat-3.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h1 class="my-3">{{candidateName}}</h1>
              <!-- <p class="text-muted mb-1">Full Stack Developer</p> -->
              <!-- <p class="text-muted mb-4">Location chennai</p> -->
              <div class="d-flex justify-content-center mb-2 container">
                <button mat-button (click)="openDialog()">Resume</button>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{candidateName}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{candidateMail}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{candidateNo}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{candidateLocation}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Resume</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{candidateResume}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-4 mb-md-0">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>